.places {
    height: 150px;
    width: 150px;
}

body {
    background-color: #e0e0e0;
    margin: 0%;
    min-height: 100vh;
}

#header {
    background-color: rosybrown;
    margin: 0px;
    padding: 0px;
    position: sticky;
    top: 0%;
    width: 100%;
}

.login {
    text-decoration: none;
    color: black;
    float: right;
    margin-right: 2%;
    margin-top: 1.5%;
}

.logo {
    height: 60px;
    width: 60px;
    vertical-align: middle;
    margin-left: 1%;
}

#search {
    background-image: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 380px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchBar>input {
    background-color: #f1f1f1;
    border: 1px solid transparent;
    border-radius: 12px;
    width: 400px;
    font-size: 16px;
    padding: 10px;
    outline: none;
}

.cities1 {
    margin-left: 15%;
    margin-right: 15%;
    /* margin-top: 2%; */
    padding: 0%;
    text-align: center;
    margin: 2%;
    display: flex;
    justify-content: space-evenly;
    bottom: 20px;
    top: 30px;
}

.cities2 {
    margin-left: 15%;
    margin-right: 15%;
    /* margin-top: 2%; */
    padding: 0%;
    text-align: center;
    margin: 2%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 170px;
    top: 100px;
}

.cities2 {
    position: relative;
}


/* Hover start */

.cities1 {
    position: relative;
}

.places {
    display: block;
    /* width: 100%;
    height: auto; */
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    border-radius: 25%;
    background-color: rgba(0, 0, 0, 0.6);
}

.hov:hover .overlay {
    opacity: 0.5;
}

.hov {
    position: relative;
}

.text {
    color: #f1f1f1;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


/* hover end here */

.places {
    padding: 0%;
    border-radius: 25%;
    box-shadow: 10px 10px 10px grey;
}

#viewmore {
    text-align: center;
    margin-bottom: 30px;
}

#viewmore>button>a {
    text-decoration: none;
    color: white
}

.footer {
    background-color: rosybrown;
    position: sticky;
    bottom: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    vertical-align: middle;
}

.social {
    height: 20px;
    width: 22px;
    margin-right: 10px;
}

#contactus {
    text-decoration: none;
    color: black;
    margin-left: 40px;
}

#copy>p {
    margin-bottom: 0%;
    margin-top: 4%;
    vertical-align: middle;
}